<!-- <footer class="bg-dark text-white py-4 mt-auto">
  <div class="container my-2 text-center">
    <span>{{ currentDate | date : "dd/MM/yyyy HH:mm:ss" }}</span>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <span><i class="fa-solid fa-address-card"></i></span>
        <h5>About Us</h5>
        <p>บริษัท NCR RUBBER ให้บริการด้านยางคุณภาพสูงสำหรับอุตสาหกรรมต่าง ๆ</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <span><i class="fa-solid fa-house"></i></span>
        <h5>Contact</h5>
        <p></p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <span><i class="fa-solid fa-address-card"></i></span>
        <h5>Sociel</h5>
        <p></p>
      </div>
    </div>
  </div>
  <div class="container text-center">
     <span>© 2025 N.C.R. Rubber Industry Co., Ltd.</span>
  </div>
</footer> -->

<footer class="bg-dark text-white py-4 mt-auto">
 
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4 mb-3">
        <span><i class="fa-solid fa-address-card"></i></span>
        <h5>เกี่ยวกับเรา</h5>
        <p>ผู้เชี่ยวชาญด้านยางอุตสาหกรรม</p>
      </div>
      <div class="col-md-4 mb-3">
        <span><i class="fa-solid fa-house"></i></span>
        <h5>ติดต่อเรา</h5>
        <p><i class="fas fa-phone-alt"></i> 02-123-4567</p>
        <p><i class="fas fa-envelope"></i> {{email}}</p>
      </div>
      <div class="col-md-4 mb-3">
        <span><i class="fa-solid fa-bell"></i></span>
        <h5>ติดตามเรา</h5>
        <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="text-white me-3"><i class="fab fa-line"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
   <div class="container text-center ">
    <span>© 2025 N.C.R. Rubber Industry Co., Ltd. </span>
    <span>{{ currentDate | date : "dd/MM/yyyy HH:mm:ss" }}</span>
  </div>
</footer>

